/* General styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  color: var(--white);
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Ensure the wrapper takes the full viewport height */
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  background-color: var(--white);
}

/* TOPBAR */
.topbar {
  background-color: #24272a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8vh;
  padding: 0 15px;
}

.rtb-title {
  color: var(--white);
  font-size: 18px;
}

.menu-btn {
  background: none;
  border: none;
  color: var(--white);
  font-size: 24px;
  cursor: pointer;
}

/* BOTTOM CONTENT */
.bottomContent {
  display: flex;
  flex-grow: 1;
  transition: all 0.3s ease;
}

/* SIDEBAR */
.sidebar {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 8vh); /* 100% height minus topbar height */
  width: 250px;
  padding-right: 10px;
  box-sizing: border-box;
  background-color: #24272a;
  color: var(--white);
}

/* MAIN CONTENT */
.main {
  display: flex;
  flex-grow: 1;
  height: calc(100vh - 8vh); /* 100% height minus topbar height */
  transition: margin-left 0.3s ease;
}

.main.full-height {
  height: calc(100vh - 8vh); /* Ensure full height minus topbar height */
}

.subtopic {
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
  padding-top: 30px;
}

.icon-st {
  height: 3vh;
}

.title-st {
  position: relative;
  top: 1px;
  padding-left: 12px;
  font-size: 18px;
}