* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  color: var(--green);
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  margin: 0;
  background-color: var(--white);
}


/* TOPBAR */
.topbar {
  flex-direction: row;
  height: 8vh;
  text-align: center;
  border-bottom: 1px solid lightgray;
}

.icon-ltb {
  margin-left: 15px;
}


.rtb-title {
  justify-content: center;
  align-items: center;
  color: var(--green);
  padding-top: 2.5vh;
  position: relative;
  font-size: 18px;
}


.bottomContent {
  display: flex;
  flex-direction: row;
}

/* SIDEBAR */
.sidebar {
  display: flex;
  flex-direction: column;
  height: 92vh;
  padding-right: 10px;
  box-sizing: border-box;
}

.header-l {
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
}

.subtopic {
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
  padding-top: 30px;
}

.icon-st {
  height: 3vh;
}

.title-st {
  position: relative;
  top: 1px;
  padding-left: 12px;
  font-size: 18px;
}

.main {
  display: flex;
  width: 100%;
  background-color: var(--white);
}

.subtopic {
  text-decoration: none;
  color: black;
  transition: font-weight 0.1s ease-in-out;
}

.subtopic:hover {
  font-weight: bolder;
}

.subtopic:hover p {
  display: inline-block;
  transition: transform 0.1s ease-in-out
}


.List {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.menu-btn {
  background: none;
  border: none;
  color: var(--black);
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 1100;
}
