.userDashboard-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-gray);
}

.userDashboard-wrapper body {
  font-family: Arial, sans-serif;
  background-color: #e0e0e0;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.userDashboard-header {
  background-color: #004d00;
  color: white;
  padding: 30px;
  text-align: center;
  margin: 20px 20px 10px 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.userDashboard-panel {
  background-color: white;
  flex-grow: 1;
  padding: 5px;
  margin: 10px 20px 20px 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: auto;
}

.userDashboard-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.userDashboard-container.single {
  flex-direction: column;
}

.userDashboard-box {
  background: white;
  padding: 5px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.userDashboard-box.incoming {
  padding-top: 1px;
}

.userDashboard-box.half {
  flex: 1;
}

.userDashboard-box.half h3,
.userDashboard-box.incoming h3 {
  margin-bottom: 10px;
}

.userDashboard-button-list {
  max-height: 200px;
  overflow-y: auto;
}

.userDashboard-button-list button:hover {
  background-color: #f0f0f0;
}

.userDashboard-wrapper textarea {
  width: 100%;
  padding: 15px;
  margin-top: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  height: 185px;
  font-size: 16px;
  background-color: #f4f4f4;
  white-space: pre-wrap;
}

#userDashboard-noteForm button {
  padding: 12px 24px;
  background-color: #004d00;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

#userDashboard-noteForm button:hover {
  background-color: #003300;
}

.userDashboard-wrapper table {
  width: 100%;
  margin-top: 20px;
}

.userDashboard-wrapper th,
td {
  text-align: left;
  padding: 10px;
}

.userDashboard-wrapper th {
  background-color: #ddd;
}